{% extends 'main.html.twig' %}
{% block body %}
    <h1 class="text-center mb-4">Изображение успешно загружено!</h1>
    <form method="get" action="{{ path('indexroute') }}">
        <button type="submit" class="btn btn-success  w-100">
            OK
        </button>
    </form>
{% endblock %}